<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nuget.commandline" />
  <package id="nodejs" />
  <package id="visualstudiocode" />
  <package id="googlechrome" />
  <package id="linqpad" />
  <package id="rdcman" />
  <package id="notepadplusplus" />
  <package id="slack" />
</packages>